mixin dream-machine()
    -
        const {classname=""} = attributes;

    .dream-machine
        .dream-machine__wrapper
            .dream-machine__title Cowboy 4
            .dream-machine__sub-title Dream Machine
            .dream-machine__bike
            .dream-machine__play-video-place
                p See it action
                button.dream-machine__play-video-button