mixin ride-awake ()
    -
        const {classname=""} = attributes;

    section.ride-awake.ride-awake--padding
        h3.ride-awake__title Ride Awake
        .ride-awake__description
            p.ride-awake__text With your phone docked in sight, your bike becomes an all-knowing companion. Connected to your every move and on the lookout for what’s ahead, now’s your chance to wander and wonder.

            p.ride-awake__text With a constant ally tuned into the road, it will keep you moving well informed. Your next ride is no longer a question of if or when. Rather, where to?