mixin ride-awake-slider ()
    -
        const {classname="", imgSrc, title, subtitle} = attributes;

    .ride-awake-slider
        img(src="../src/img/ride-awake-slide1.png", alt="")
        p.ride-awake-slider__title Ride Stats
        p.ride-awake-slider__subtitle With a constant ally tuned into the road, it will keep you moving well informed.
        |
        |
        a.ride-awake-slider__ios-link(href="")
            img(src="../src/img/iOS.png", alt="")
        |
        |
        a.ride-awake-slider__android-link(href="")
            img(src="../src/img/android.png", alt="")
        .about-bike__progress-bar2