.ride-awake-slider {
    position: relative;

    &__title {
        font-size: 28px;
        line-height: 36px;
        color: $classic_white;
        position: absolute;
        bottom: 13%;
        left: 2%;
    }

    &__subtitle {
        color: $classic_white;
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        bottom: 5%;
        width: 283px;
        left: 2%;
    }

    &__ios-link {
        position: absolute;
        bottom: 13%;
        right: 13%;
    }

    &__android-link {
        position: absolute;
        bottom: 13%;
        right: 3%;
    }
}