mixin our-customers ()
    -
        const {classname=""} = attributes;


    .our-customers
        .our-customers__title Our customers speak
        .our-customers__reviews I am very happy with the bike. It's not only a lightweight bike which can be ridden after the battery dies if needed, but a fast bike due to its geometry and rider position. As a road biker who usually rides over 30kmh in the flats, the 25kmh of motor assistance looks a bit slow, but it's the law.
        .our-customers__customers-photo
            img(src="../src/img/jesus-meyer.png", alt="")
            img.our-customers__customers-photo--position(src="../src/img/customer1.png", alt="")
            img.our-customers__customers-photo--position(src="../src/img/customer2.png", alt="")
            img.our-customers__customers-photo--position(src="../src/img/customer3.png", alt="")