//- layouts
include ../components/layout/header/header.pug
include ../components/layout/container/container.pug
include ../components/layout/section/section.pug
include ../components/layout/footer/footer.pug


//- sections
include ../components/sections/slider/slider
include ../components/sections/overview/overview
include ../components/sections/dream-machine/dream-machine
include ../components/sections/ride-awake/ride-awake
include ../components/sections/ride-awake/ride-awake-slider
include ../components/sections/our-customers/our-customers
include ../components/sections/tech-specs/tech-specs
include ../components/sections/key-specifications/key-specifications
include ../components/sections/mount-up/mount-up


html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href='./css/sass/style.css')
        link(rel="preconnect", href="https://fonts.googleapis.com")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet")
        title Document
    body
        +header()

        +section(containerMod='big')
            +dream-machine()

        +section()
            +overview()

        +section()
            +slider()

        +section(containerMod='big')
            +ride-awake()
            +ride-awake-slider()

        +section()
            +our-customers()

        +section()
            +tech-specs()
            +key-specifications('Key specifications','12')
            +key-specifications('bike','8')

        +section(containerMod='big')
            +mount-up()

        +section(containerMod='big')
             +footer()

