mixin specifications()
    -
        const {classname="",label,value} = attributes;

    .key-specifications__inner
        p.Key-specifications__list #{label}
        p.Key-specifications__list #{value}