mixin footer()
    -
        const {classname=""} = attributes;

    footer.footer
        nav.footer__language
            li.footer__flag
                img(src="/src/img/united-states-flag.png", alt="")
            li.footer__current-language English
        nav.footer__copyright
            li.footer__copyright-link
                a(href="#") Terms of use
            li.footer__copyright-link
                a(href="#") Data Protection
            li.footer__copyright-link
                a(href="#") © 2021 Cowboy